@model ItemListViewModel

<h1>List of shop items (@Model.CurrentViewName) View</h1>
<a href="/Item/Grid">Grid View</a>

<div class="container">
    <h1>@ViewBag.CurrentViewName</h1>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            @foreach (var item in Model.Items)
            {
                <partial name="_ItemCard_Table" model="item" />
            }
        </tr>
    </table>
</div>
<p>
    <a class="btn btn-secondary" asp-controller="Item" asp-action="Create">
        Create new item
    </a>
</p>

